@{
}
@section Styles {
    <link rel="stylesheet" href="~/css/Restitution.css" />
}
    
<div class="row w-100 h-100 p-2">
    <div class="col ms-4 d-flex flex-column justify-content-between">
        <div>
            <div class="row position-relative shadow-sm border rounded my-3 p-3 disabled" id="ExemplaireChoses">
                <div  class=" d-flex flex-row justify-content-around align-items-center ">
                    <h5 class="border-title">Choisissez une copie</h5>
                    <img class="w-80p" src="~/img/star.png" alt="">
                    <div class="d-flex flex-column justify-content-around w-75" >
                        <div class="input-group mb-2">
                            <select class="form-control custom-select" id="SelectExemplaire" data-request-url="@Url.Action("getSelectExemplaire")">
                                <option value="">Choisir...</option>
                            </select>
                        </div>
                        <div class="input-group mb-2">
                            <button class="btn btn-secondary  buttonBook " type="button" disabled>
                                Afficher le catlib notice
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="titrePropreBox" class="row position-relative shadow-sm border rounded my-3 p-3 disabled ">
                <div class="d-flex flex-row justify-content-around align-items-center">
                    <h5 class="border-title">Titre approprié</h5>
                    <div class="form-floating" id="ProperTitle">

                        <textarea class="form-control"  id="floatingTextarea2"
                                  style="height: 150px ; width: 600px;" readonly></textarea>
                        <label for="floatingTextarea2">Commentaires</label>
                    </div>
                </div>
            </div>
            <div id="DatePretRoure" class=" row position-relative shadow-sm border rounded my-3 p-3 disabled">
                <div>

                    <h5 class="border-title ">Date</h5>
                    <div class="input-group mb-3"> 
                        <span class="input-group-text" required >Date de Pret</span>
                        <input type="date" class="form-control" id="PretData" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" required readonly>Date de retour</span>
                        <input type="date" class="form-control" id="ReturnDate" readonly>
                    </div>
                </div>
            </div>

            <div id="etatAdherent" class="row position-relative rounded my-3 p-3 alert alert-info ">
                <h6>Statut : </h6>

                <p>Attend quelque seconde pour le traitement!</p>

            </div>

        </div>


    </div>

  

    <div class="col position-relative shadow-sm border rounded m-3 d-flex flex-column align-items-center justify-content-around ">
  
       

        <h5 class="border-title">Details</h5>
        <div class="toast bg-success text-white align-items-center " role="alert" aria-live="assertive" aria-atomic="true" id="DeletPret">
            <div class="d-flex">
                <div class="toast-body">
                    Tous les information sont juste.
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        <div>
            <img src="~/img/user.png" alt="">
        </div>
        <span class="position-absolute top-0 start-100 translate-middle p-2  bg-warning border border-light rounded-circle">
            <span class="visually-hidden">New alerts</span>
        </span>
        <div>
            <form >
            <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        AdhérentID
                    </span>
                    <input type="text" class="form-control" placeholder="AdhérentID" aria-label="UserID"
                           aria-describedby="basic-addon1" id="UserID" data-request-url="@Url.Action("getUserByID")">
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                            <span class="input-group-text">Nom</span>
                            <input type="text" class="form-control" placeholder="Nom" name="Username" id="NameAdherent" readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                            <span class="input-group-text">prénom</span>
                            <input type="text" class="form-control" placeholder="prénom" name="prename" id="FamillyNameAdherent" readonly>
                    </div>
                </div>
            </div>

                <div id="ButtonChoses" class=" disabled d-flex flex-column-reverse align-items-center ">
                    <button class="btn btn-primary w-75 mt-3 buttonUser " type="button" id="RetourButton" data-request-url="@Url.Action("RetourExemplaire")">validate</button>
                    <button class="btn btn-primary w-75 mt-3   buttonUser " type="button" id="RenouvellementButton" data-request-url="@Url.Action("RenouvellementExemplaire")">Renouvellement</button>
             </div>
            </form>
        </div>



    </div>

</div>



<div class="position-fixed top-0 end-0 p-3" style="z-index: 1">
    <div id="restitutionSuccessToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-success text-white">
            <strong class="me-auto">Notification</strong>
            <small>À l'instant</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            la restitution sous-performer avec succès.
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 1">
    <div id="restitutionFaildToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-danger text-white">
            <strong class="me-auto">Notification</strong>
            <small>À l'instant</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            la restitution dépasser sans succès.
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/Restitution.js"></script>
}

