 
<link rel="stylesheet" href="~/css/AutreParamètre.css" />
<div class="d-flex bd-highlight">
    <div class="p-2 flex-fill bd-highlight  position-relative shadow-sm h-100 border rounded m-3 d-flex flex-row div1 ">
        <h5 class="border-title">Jours fériés</h5>

        <div class="d-flex flex-column py-3 justify-content-around w-75 divFerie">
            <table class="table table-striped">

                <thead class="">
                    <tr>
                        <th scope="col">Date de jour ferier</th>
                
                        <!-- Ajoutez autant de colonnes que nécessaire -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Donnée 1</td>
                   
                        <!-- Ajoutez autant de cellules que nécessaire pour chaque ligne de données -->
                    </tr>
                    <tr>
                        <td>Donnée 1</td>
                      

                        <!-- Ajoutez autant de cellules que nécessaire pour chaque ligne de données -->
                    </tr>
                    <!-- Ajoutez autant de lignes de données que nécessaire -->
                </tbody>
            </table>

        </div>


    </div>
    <div class="p-2 flex-fill bd-highlight  position-relative shadow-sm h-100 border rounded m-3 d-flex flex-row div2">
        <h5 class="border-title">Table Pénalités</h5>

        <div class="d-flex flex-column py-3 justify-content-around w-75 divPenalite">
            <table class="table table-striped">

                <thead  >
                    <tr>
                        <th scope="col">ID_Catégorie</th>
                        <th scope="col">Jours Retard</th>
                        <th scope="col">Nombre jours Retard</th>
                      
                        <!-- Ajoutez autant de colonnes que nécessaire -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Donnée 1</td>
                        <td>Donnée 2</td>
                        <td>Donnée 3</td>
           
                        <!-- Ajoutez autant de cellules que nécessaire pour chaque ligne de données -->
                    </tr>
                    <tr>
                        <td>Donnée 1</td>
                        <td>Donnée 2</td>
                        <td>Donnée 3</td>

                        <!-- Ajoutez autant de cellules que nécessaire pour chaque ligne de données -->
                    </tr>
                    <!-- Ajoutez autant de lignes de données que nécessaire -->
                </tbody>
            </table>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="button">Appliquer</button>
            </div>
        </div>


    </div>
</div>
