@{
    ViewData["Title"] = "pret page";
    var currentController = "PretController";
}
<link rel="stylesheet" href="~/css/Pret.css" />
<div class="d-flex flex-column">
    <div class="position-relative shadow-sm h-100 border rounded m-3 d-flex flex-row">
        <h5 class="border-title">User Part</h5>
        <div class="p-5">
            <img width="150" height="150" src="~/img/user.png" alt="" srcset="">
        </div>
        <div class="d-flex flex-column py-3 justify-content-around w-75">

            <div class="d-flex flex-row mb-3">
                <div class="input-group w-50">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">UserId</span>
                    </div>
                    <input id="getUserIDButton"  type="text" class="form-control" aria-label="Default"
                           data-request-url="@Url.Action("getUserByID", currentController)">
                </div>
                <div class="align-self-center mx-2">
                    <button type="button" class="btn btn-secondary rounded-circle  info" data-bs-trigger="focus" data-bs-toggle="popover" title="User Card ID" data-bs-content="add Info ...">
                        <i class="fa-solid fa-question d-flex align-self-center justify-content-center"></i>
                    </button>
                </div>
            </div>

            <div class="d-flex flex-column justify-content-around">
                <div class="input-group py-2 w-50">
                    <div class="input-group-prepend">
                        <span class="input-group-text " id="">Name/Surname</span>
                    </div>
                    <input id="adherentNameInput" type="text" class="form-control " value="XXXXX" readonly>
                    <input id="adherentPrenameInput" type="text" class="form-control" value="XXXXX" readonly>
                </div>

                <div id="adherentStateAlert" class="input-group mb-3 py-2 alert alert-dark ">
                    <strong>Status: </strong>
                    <p class="px-2 m-0">veuillez sélectionner Adhérent pour obtenir des informations</p>
                </div>
            </div>

        </div>
    </div>
    <div id="bookPart" class="position-relative shadow-sm h-100 border rounded m-3 d-flex flex-row disabled">
        <h5 class="border-title">Book Part</h5>
        <div class="p-5">
            <img width="150" height="150" src="~/img/book.png" alt="" srcset="">
        </div>
        <div class="d-flex flex-column py-3 justify-content-around w-75">

            <div class="d-flex flex-column">

                <div class="d-flex flex-row">
                    <div class="input-group mb-1  w-50">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">BookCote</span>
                        </div>
                        <input id="getBookCoteButton" type="text" class="form-control" aria-label="Default"
                               data-request-url="@Url.Action("getBookByCoteForBorrow", currentController)"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="align-self-center mx-2">
                        <button type="button" class="btn btn-secondary rounded-circle  info" data-bs-trigger="focus" data-bs-toggle="popover" title="Book ID" data-bs-content="add Info ...">
                            <i class="fa-solid fa-question d-flex align-self-center justify-content-center"></i>
                        </button>
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <div class="input-group  w-50">
                        <label class="input-group-text" for="inputGroupSelect01">Book Available</label>
                        <select class="form-control custom-select" id="booksAvailable">
                            <option selected value="">Select Document</option>
                        </select>
                    </div>
                    <div class="align-self-center mx-2">
                        <button type="button" class="btn btn-secondary rounded-circle  info" data-bs-trigger="focus" data-bs-toggle="popover" title="Book Available" data-bs-content="add Info ...">
                            <i class="fa-solid fa-question d-flex align-self-center justify-content-center"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-around">
                <div class="input-group py-2 w-75">
                    <span class="input-group-text " id="">Title</span>
                    <input id="bookTitleInput" type="text" class="form-control " value="XXXXX" readonly>
                </div>

                <div id="bookStateAlert" class="input-group mb-3 py-2 alert alert-dark">
                    <strong>Status: </strong>
                    <p class="px-2 m-0">veuillez sélectionner le document pour obtenir le statut</p>
                </div>
            </div>
        </div>
    </div>
    <div id="datePart" class="position-relative shadow-sm h-25  border rounded  m-3 disabled">
        <h5 class="border-title">Validation Part</h5>
        <div class="d-flex justify-content-between m-3">
            <div class="input-group py-2 w-50">
                <span type="text" class="input-group-text">From</span>
                <input id="readyDateInput" type="date" class="form-control " readonly>
                <span type="text" class="input-group-text">To</span>
                <input id="returnDateInput" type="date" class="form-control" readonly>
            </div>
            <button id="submitNewBorrow" type="button" class="btn btn-primary my-2" disabled>Prêt</button>
        </div>
    </div>
</div>
<input type="hidden" id="getHolidaysInput" data-request-url="@Url.Action("getHolidays", currentController)" />
<script src="~/js/Pret.js"></script>