@{
    var currentController = "RestitutionController";
}
<link rel="stylesheet" href="~/css/Restitution.css"/>

    
<div class="row w-100 h-100 p-2">
    <div class="col ms-4 d-flex flex-column justify-content-between">
        <div>
            <div class="row position-relative shadow-sm border rounded my-3 p-3 ">
                <div id="ExemplaireChoses" class=" d-flex flex-row justify-content-around align-items-center disabled">
                    <h5 class="border-title">Choose the copy</h5>
                    <img class="w-80p" src="~/img/star.png" alt="">
                    <div class="d-flex flex-column justify-content-around w-75">
                        <div class="input-group mb-2">
                            <select class="form-control custom-select" id="SelectExemplaire" data-request-url="@Url.Action("getSelectExemplaire", currentController)">
                                <option selected value="">Choose...</option>
                            </select>
                        </div>
                        <div class="input-group mb-2">
                            <button class="btn btn-secondary  buttonBook " type="button" disabled>
                                Displays the catlib
                                notice
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="titrePropreBox" class="row position-relative shadow-sm border rounded my-3 p-3 disabled ">
                <div class="d-flex flex-row justify-content-around align-items-center">
                    <h5 class="border-title">Proper title</h5>
                    <div class="form-floating" id="ProperTitle">

                        <textarea class="form-control"  id="floatingTextarea2"
                                  style="height: 150px ; width: 600px;" readonly></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
                </div>
            </div>
            <div id="DatePretRoure" class=" row position-relative shadow-sm border rounded my-3 p-3 disabled">
                <div>

                    <h5 class="border-title ">Date</h5>
                    <div class="input-group mb-3"> 
                        <span class="input-group-text" required >Date de Pret</span>
                        <input type="date" class="form-control" id="PretData" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" required readonly>Return date</span>
                        <input type="date" class="form-control" id="ReturnDate" readonly>
                    </div>
                </div>
            </div>

            <div id="etatAdherent" class="row position-relative rounded my-3 p-3 alert alert-info ">
                 <h6>Status : </h6>
                <p>Attend quelque seconde pour le traitement!</p>

            </div>

        </div>


    </div>

  

    <div class="col position-relative shadow-sm border rounded m-3 d-flex flex-column align-items-center justify-content-around ">
  
       

        <h5 class="border-title">Details</h5>
        <div class="toast align-items-center NoUser" role="alert" aria-live="assertive" aria-atomic="true" style="z-index = 1 ;" >
            <div class="d-flex">
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        <div>
            <img src="~/img/user.png" alt="">
        </div>
        <span class="position-absolute top-0 start-100 translate-middle p-2  bg-warning border border-light rounded-circle">
            <span class="visually-hidden">New alerts</span>
        </span>
        <div>
            <form >
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">UserID</span>
                <input type="text" class="form-control" placeholder="UserID"  aria-label="UserID"
                           aria-describedby="basic-addon1" id="UserID" data-request-url="@Url.Action("getUserByID", currentController)">
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input type="text" class="form-control" placeholder="Username" name="Username" id="NameAdherent">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text">prename</span>
                            <input type="text" class="form-control" placeholder="prename" name="prename" id="FamillyNameAdherent">
                    </div>
                </div>
            </div>

                <div id="ButtonChoses" class=" disabled d-flex flex-column-reverse align-items-center ">
                    <button class="btn btn-primary w-75 mt-3 buttonUser " type="submit" id="RetourButton" data-request-url="@Url.Action("RetourExemplaire", currentController)">Retour</button>
                <button class="btn btn-primary w-75 mt-3   buttonUser " type="submit"  id="RenouvellementButton" >Renouvellement</button>
                    <button class="btn btn-primary w-75 mt-3 buttonUser" type="submit" id="ValideButton">validate</button>
            </div>
            </form>
        </div>



    </div>




    

</div>
<script src="~/js/Restitution.js?v=1"></script>
