
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/Restitution.css"/>
<div class="row w-100 h-100 p-2">

    <div class="col ms-4 d-flex flex-column justify-content-between">
        <div>
            <div class="row position-relative border rounded my-3 p-3 ">
                <div class="d-flex flex-row justify-content-around align-items-center">
                    <h5 class="border-title">Choose the copy</h5>
                    <img class="w-80p" src="~/img/star.png" alt="">
                    <div class="d-flex flex-column justify-content-around w-75">
                        <div class="input-group mb-2">
                            <select class="form-control custom-select" id="inputGroupSelect01">
                                <option selected>Choose...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>displays the catlib notice
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="input-group mb-2">
                            <button class="btn btn-secondary  buttonBook " type="button" disabled>
                                Displays the catlib
                                notice
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row position-relative border rounded my-3 p-3 ">
                <div class="d-flex flex-row justify-content-around align-items-center">
                    <h5 class="border-title">Proper title</h5>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                  style="height: 200px ; width: 600px;"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
                </div>
            </div>
            <div class="row position-relative border rounded my-3 p-3 ">
                <div>

                    <h5 class="border-title">Date</h5>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Loan date</span>
                        <input type="date" class="form-control" id="Loan date">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Return date</span>
                        <input type="date" class="form-control" id="Return date">
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div class="col position-relative border rounded m-3 d-flex flex-column align-items-center justify-content-around">
        <h5 class="border-title">Details</h5>
        <div>
            <img src="~/img/user.png" alt="">
        </div>
        <span class="position-absolute top-0 start-100 translate-middle p-2  bg-warning border border-light rounded-circle">
            <span class="visually-hidden">New alerts</span>
        </span>
        <div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">UserID</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                       aria-describedby="basic-addon1">
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text">prename</span>
                        <input type="text" class="form-control" placeholder="prename">
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column-reverse align-items-center">
                <button class="btn btn-primary w-75 mt-3 buttonUser " type="button" disabled>Back</button>
                <button class="btn btn-primary w-75 mt-3   buttonUser " type="button" disabled>Remake</button>
                <button class="btn btn-primary w-75 mt-3 buttonUser" type="button" disabled>validate</button>
            </div>

        </div>



    </div>

</div>