.border-title {
    position: absolute;
    top: -15px;
    left: 20px;
    /* Adjust as needed */
    background-color: white;
    /* Match with the background color of your page */
    padding: 0 10px;
}
.divPenalite{
    margin-right : auto ; 
    margin-left  : auto ;
}
.divFerie {
    margin-right: auto;
    margin-left: auto;
}
.div1 {
    width: 35%;
}
.div2{
    width : 55% ;
}


.simple_select {
    flex-grow: unset !important;
    flex-basis: content !important;
}

.pencil {
    width: 30px;
    height: 50px;
    transform: translate(50%, -50%);
}

