html,
body {
    height: 100%;
}

.w-280p {
    width: 280px;
}

.h-70p {
    height: 70px;
}

.h-50p{
    height: 50px;
}

.h-30p{
    height: 30px;
}

.h-150p{
    height: 150px;
}

.w-100p{
    width: 100px;
}

.disabled {
    pointer-events: none; /* Disable mouse events */
    filter: blur(5px); /* Blur effect */
  }