@{
    ViewData["Title"] = "gestion de documents";
}
@section Styles {
    <link rel="stylesheet" href="~/css/gestion_de_documents.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" />
}



<div class=" px-4 w-100 h-100">
    <div class="d-flex py-2 justify-content-between">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#comingSoon">
            <i class="fa-solid fa-file-circle-plus"></i>
            Ajouter Notice
        </button>
        <div class="input-group w-25">
            <input type="text" class="form-control" placeholder="Search" id="searchInput">
            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
    </div>
    @* data-side-pagination="server" *@
    <table id="ExemplaireTable"
           data-locale="fr-FR"
           data-toggle="table"
           data-pagination="true"
           data-url="@Url.Action("getNotices")"
           data-page-size="11"
           data-pagination-parts="['pageInfo', 'pageList']"
           data-loading-template="loadingTemplate"
           data-sort-name="totalExemplaire"
           data-sort-order="desc"
           data-search-selector="#searchInput"
           data-search="true">


        <thead>
            <tr>
                <th data-field="idNotice"                   data-sortable="true" data-width="25" data-width-unit="%">ID</th>
                <th data-field="cote"                       data-sortable="true" data-width="25" data-width-unit="%">cote</th>
                <th data-field="totalExemplaire"            data-sortable="true" data-width="10" data-width-unit="%">totalExemplaire</th>
                <th data-field="perduNumber"                data-sortable="true" data-width="10" data-width-unit="%">perdu</th>
                <th data-field="disponibleNumber"           data-sortable="true" data-width="10" data-width-unit="%">disponible</th>
                <th data-field="pretNumber"                 data-sortable="true" data-width="10" data-width-unit="%">pret</th>
                <th data-field="enCoursDeTraitementNumber"  data-sortable="true" data-width="10" data-width-unit="%">enCoursDeTraitement</th>
                <th data-width="10" data-width-unit="%" data-formatter="operateFormatter" data-events="operateEvents">Operation</th>
            </tr>
        </thead>
    </table>


</div>


<div class="modal fade" id="comingSoon">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Still in Develeping Phase</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Comming Soon ~~</p>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 1">
    <div id="deleteExemplaireSuccessToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-success text-white">
            <strong class="me-auto">Notification</strong>
            <small>just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            supprimer Exemplaire sous-performer avec succès.
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 1">
    <div id="deleteExemplaireFaildToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-danger text-white">
            <strong class="me-auto">Notification</strong>
            <small>just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            supprimer Exemplaire dépasser sans succès.
        </div>
    </div>
</div>


<div class="modal fade" id="viewDocumentModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa-solid fa-file-contract me-2"></i>Document View</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column">
                    <div class="w-100  d-flex flex-row align-items-center">
                        <div class="p-2">
                            <img width="150" height="150" src="~/img/book.png" alt="" srcset="">
                        </div>
                        <div class="d-flex flex-column py-3 w-100">
                            <div class="input-group mb-1">
                                <span class="input-group-text w-100p" id="inputGroup-sizing-default">Id</span>
                                <input type="text" class="form-control" aria-label="Default" id="idDocumentInputModal" disabled>
                            </div>
                            <div class="input-group mb-1">
                                <span class="input-group-text w-100p" id="inputGroup-sizing-default">Cote</span>
                                <input type="text" class="form-control" aria-label="Default" id="coteDocumentInputModal" disabled>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text w-100p">Titre</span>
                                <textarea class="form-control" aria-label="With textarea" id="titleDocumentInputModal" disabled></textarea>
                            </div>

                        </div>
                    </div>
                    <div class="position-relative shadow-sm border mt-3">
                        <h5 class="border-title">Exemplaires exister</h5>
                        <div id="chart" data-url="@Url.Action("getExemplairesFromCote")" class="d-flex justify-content-center"></div>
                        <div class="position-absolute top-0 end-0 translate-middle-y me-3 d-flex flex-row">
                            <div class="input-group w-250p">
                                <input type="text" class="form-control" placeholder="Search" id="exemplaireSearchInput">
                                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="~/lib/d3js/d3.v7.min.js"></script>
    <script src="~/js/GDD.js"></script>
}

